.image {
   /*  width: 100%; */
   /*  height: 100vh; */
    position: relative;
    left: 50%;
    top: 10vh;
    height: 400px;
}
.image img {
    object-fit: cover;
    width: 600px;
    height: 100%;
    filter: grayscale(40%);
    border-radius: 1rem;
}