* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    object-fit: cover;
    background-image: cover;
    background-position: center;
    background-repeat: no-repeat;
}
button {
    outline: none;
}
