/*===== Web Components CSS ====*/
@import "./menuToggle.css"; 
@import "./navegation.css"; 
@import "./logo.css"; 
@import "./welcome.css"; 
@import "./button.css";
@import "./image.css";  
@import "./explore.css"; 
@import "./media.css"; 
/* ==== Variables ====*/
:root {
         /*==== Color Base // Componentes de Diseño ====*/
    --clr-base: #7135F2;
    --clr-secondary: #05AFF2; 
    --clr-complementaryOne: #05C7F2; 
    --clr-complementaryTwo: #05DBF2; 
    --clr-Three: #F2B29B;

        /*==Fonts/sizes==*/
    --fontBase: 'Montserrat', sans-serif;

    --font-size-small: 1.2rem; 
    --font-size-medium: 1.5rem; 
    --font-size-tall: 1.8rem; 
    --font-size-title: 2.4rem; 

    --headLine1: bold 95px/153.71px var(--fontBase); 
    --headLine2: bold 59px/95px var(--fontBase); 
    --headLine3: bold 48px/77px var(--fontBase); 
    --headLine4: bold 34px/55px var(--fontBase); 
    --headLine5: bold 24px/38px var(--fontBase); 
    --body1:  16px/25px var(--fontBase); 
    --body2:  14px/22px var(--fontBase); 
    --button: bold 14px/22px var(--fontTwo); 
    --caption:  12px/19px var(--fontTwo); 
}
*,::before,::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
a:hover {
    opacity: 0.5;
}
img {
    object-fit: cover;
    background-image: cover;
    background-position: center;
    background-repeat: no-repeat;

   /*  width: 500px; */
   /*  height: 400px; */
}
button {
    outline: none;
}
body {
    font-family: var(--fontBase); 
    background: #272c2c;
}